*{
    @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
    font-family: "Fira Sans", serif;

    padding: 0px;
    margin: 0px;





}


#body-background{
    background-color: #f5f5f5;
    width: 100%;


}
#body-width{
    width: 1010px;
    text-align: center;
    margin: 0 auto;

}


nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;





}


h1{
    font-size: 47px;
    font-weight: bold;



}

h2{
    font-size: 33px;
    font-weight: bold;



}

h3{
    font-size: 26px;
    font-weight: bold;



}

h4{
    font-size: 16px;
    font-weight: bold;


}

h5{



}

p{
    font-size: 18px;
    color:#626262;
    font-weight: 400;



}


/* Header Area */



.greenish-color{
    background-color: #C6E4D6;
    border-radius: 10px;



}

.greenish-color-button{
    background-color: #066A50;
    width: 100%;

    font-weight: 600;
    /* padding: 8px 0px; */
    border-radius: 10px;
    color: #ffffff;
    border: none;
    height:47px;


}

.greenish-color-button:hover{
    background-color: #0591AF;
    





}

header> nav> h3{
    color: #0E0E0E;



}

#sign-in{
    background-color: white;
    border: 2px solid gree;
    border-radius: 10px;
    /* height:47px; */
    padding: 10px 20px;
    border: 2px solid #066A50;
    color: #066A50;


}

#sign-in:hover{

    background-color: #C6E4D6;
}



.main-header{
    width: 100%;
    height: 474px;
    display: flex;
    /* gap: 30px; */
    align-items: center;
    padding: 30px;



}
.main-header:hover{
    /* background-color: #e6dede; */




}



.section1{
    width: 522px;
    height: 273px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-align: left;
    margin-top: 40px;
    margin-left: 20px;
    justify-content: space-between;

}

.section1> p{
   font-size: 20px;
   font-weight: 500;
   color:#626262;

}
.section1> button{
    height:47px;
    width:245px;


}

.section1> button:hover{
    background-color: #e9e9e9;


}


.section2{


}

.section2 > img{
    height: 336px;
    width: 398px;




}
/* Main Area/ This area is divided by 6 segments. */


/* Main Area 1 */

main{
    margin-top: 70px;



}
.main1> h2{

    text-align: left;


}

.pillar-flex{
    display: flex;
    gap: 25px;


    
}

.pillar-box{
    margin-top: 35px;
    width: 253px;
    height: 202px;
    background-color: white;
    border-radius: 10px;
    text-align: left;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 


}

.pillar-box:hover{
    /* background-color: #F0C993; */
    background-color: #0591AF;


}


.pillar-box> img{
   height: 53px;
   width: 53px;


}


/* Main Area 2  */



.main2{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 25px;



}

.main-area-heading{
    text-align: left;
    margin-bottom: -20px;


}


.vision-flex{
    width: 100%;
    display: flex;
    gap: 20px;
    /* justify-content: space-evenly; */
    text-align: left;




}



.vision-box{
    width: 33.33%;
    height: 273px;
    border-radius: 10px;
    border: none;
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    padding: 35px;
    justify-content: center;
}

.vision-box> img, h4, p{
    margin-bottom: 20px;


}

.vision-box>button{
    margin-top: 20px;


}




.vision-box> img{
    height: 53px;
    width: 53px;
 


}

/* Box Style */

#vision-box-color1{
    background-color:#d5e1f5;
    



}

#vision-box-color2{
   background-color: #C6E4D6;



}

#vision-box-color3{
    background-color: #F7EBCF;
    border-radius: 7px;
    border: none;





}

/* Button Style */


#main-area-button1{
    background-color: #5490F5;
    border-radius: 7px;
    border: none;
    height: 34px;
    width: 102px;




}

#main-area-button2{
    background-color: #09A15C;
    border-radius: 7px;
    border: none;
    height: 34px;
    width: 102px;





    
}


#main-area-button3{
    background-color: #FFC239;
    border-radius: 7px;
    border: none;
    height: 34px;
    width: 102px;


    
}

.table-button :hover{
    /* background-color: aquamarine; */
    color: #a19e09;


}



/* Professior Dr Muhammed Yunus's Quote */


.dr-yonus-quote{
    
    /* height: 202px; */
    background-color: white;
    padding: 25px 40px;
    border-radius: 10px;
    margin-top: 25px;




}
.qoute-img{
    width: 99%;
    background-image: url(assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: top left;
    text-align: left;



}


.qoute-img>.quote-padding-top{
    padding-top: 20px;
    


}


/* 3rd Main Area */


.main3{
    margin-top: 70px;


}

.space-between{
    /* width: 100%; */
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-between; */
    padding: 28px;
    background-color: #C6E4D6;




}
.h4-question-display-inline{
    display: inline;
    /* width: 505px; */
    /* padding-right: 300px; */
    font-size: 20px;




}

.h4-opinion-display-inline{
    display: inline;
    /* width: 505px; */
    /* text-align: right; */
    padding-left: 625px;
    font-size: 21px;
    /* font-weight: bolder; */



}

.arrow-width{
    width: 2px;
    height: 2px;



}





table{
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    

}

td{
    border: 2px solid rgb(228, 228, 228);
    /* padding-top: 20px;
    padding-bottom: 20px; */
    /* padding: 20px; */
    padding: 9px 20px;



}

.question-padding{
    padding-top: 20px;
    font-size: 19px;


}

.table-button{
    width: 150px;
    height: 45px;
    background-color: #C6E4D6;
    border: 1px solid green;
    margin-left: 65px;




}

.table-button:hover{
    background-color: #F0B36A;



}

/* .button-align{
    text-align: center
    

} */


/* 4th Main Area */


.main4{
    margin-top: 70px;
    width: 100%;



}

.main4-heading{
    margin-bottom: 20px;
    text-align: left;
    



}


.main4-box{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;





}

.main4-box1{
    /* width: 100%; */
    height: 337px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    padding: 30px;
    align-items: center;
    gap: 50px;




}

.image-size{
    width: 341px;
    height: 257px;
    border-radius: 10px;


}

#read-more-1{
    width: 130px;



}


#read-more-2{
    width: 130px;



}


#read-more-3{
    width: 130px;



}






/* .main4-box1> img{


}


#main-reverse1{


 */



#main-reverse2{
    flex-direction: row-reverse;


    
}

#main-reverse3{


    
}

.reverse-align-left{
    text-align: left;



}




/* 5th Main Area */




#donate-area{
    width: 100%;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    /* padding: 40px; */
    justify-content: center;
    align-items: center;


}

.donate-area-align-center{
    text-align: center;
    width: 93%;

    
}

.donate-box-flex{
    display: flex;
    gap: 25px;
    margin-top: -20px;



}


.box-color{
    background-color: white;
    width: 211px;
    height: 107px;
    border-radius: 10px;
    font-size: 40px;
    font-weight: bolder;
    /* padding: 0 auto; */
    /* padding: 40px 0px; */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;



}

.box-color:hover{
    background-color: #f5f5f5;




}


#greenish-color{
    background-color: #C6E4D6;



}

#greenish-color:hover{
    background-color: #f5f5f5;

}





#donate-area> input{
    width: 90%;
    height: 55px;
    border: none;
    border-radius: 10px;
    background-color: #fdf5e4;
    text-align: center;
    font-size: 26px;




}

main{
  


}




#donate-button-size{
    width: 130px;
    font-weight: 600;
    font-size: large;



}


/* 5th Main Area */

#main5{
    width: 100%;
    height: 331px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 20px;


}
#email-size{

    width: 504px;
    height: 46px;
    border: none;
    padding-left: 20px;




}

.subscribe-button{
    background-color: #066A50;
    width: 126px;
    height: 47px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-left: -3px;


}

.subscribe-button:hover{
    background-color: #C6E4D6;


}



/* This is the dead end of the main section */



/* Footer Area */

footer{
    background-color: white;
    height: 206px;



}

.footer-icons{
    margin: 15px;



    


}

.copyright-color{
    color: rgb(240, 156, 0);


}




#footer-align{
    text-align: center;
    padding-top: 50px;

}


















.reverse1{


}

.reverse2{

    
}

.reverse3{

    
}


































